<div class="<%= type %>">
  <h<%= header_index %> id='<%= header_id %>' >
    <%= header_title %>
    <a href="#<%= index_id %>" ><i class="bi-arrow-up-circle-fill"></i></a>
  </h<%= header_index %>>
  <span class="filename"><%= filename %></span>
  <%= erb_template('inner.html.erb') %>
</div>
